.pageNotFound {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 0 1.5rem 6.5rem;
    background-color: var(--bg-full);
    height: 100vh;
}

.text404 {
    display: block;
    text-align: center;
    font-size: 6rem;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--color-words-cards);
}

.title {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: var(--color-words-cards);
}

.paragraph {
    font-size: 1.5rem;
    line-height: 1.75rem;
    color: var(--color-words-cards);
}

.backPage {
    font-size: 3rem;
    color: var(--bg-components);
    text-decoration: underline;
}
